/* General parameters */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: white;
}

/* Navigation part */
nav {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 0 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 13rem;
    background-color: black;
}

.nav-banner__logo {
    width: 15rem;
    height: auto;
}

.nav-banner__links a {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: white;
    text-decoration: none;
}

.nav-banner__links a:hover {
    color: red;
}

/* Header part */
.best-movie {
    display: flex;
    height: 40rem;
    background: linear-gradient(black, rgb(68, 68, 68), black);
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.best-movie__description {
    width: 30%;
    padding-right: 30px;
}

#best-movie__description-title {
    font-size: 4rem;
    margin-bottom: 0;
}

#best-movie__description-synopsis {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.best-movie__images {
    height: 100%;
}

.fa-play,
.fa-circle-info {
    border: solid 3px black;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 1.7rem;
}

.fa-play:hover,
.fa-circle-info:hover {
    cursor: pointer;
    background-color: red;
}

.best-movie__images img {
    height: 100%;
    border: solid 1px white;
    border-radius: 20px;
}

/* best-movies-categories part */

.best-movies-categories {
    display: flex;
    flex-direction: column;
}

.best-movies-category {
    display: flex;
    flex-direction: column;
}

.best-movies-category__title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(black, rgb(68, 68, 68), black);
    margin-bottom: 5px;
}

.best-movies-category__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.best-movies-category__list-card-movie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-movie {
    margin-right: 10px;
    transition: 0.3s;
    width: 17rem;
}

.card-movie:hover {
    box-shadow: 0 0 8px 8px rgba(252, 0, 0, 0.8);
    cursor: pointer;
}

.card-movie-img {
    width: 100%;
}

.fa-angles-left {
    font-size: 4rem;
    padding-right: 10px;
}

.fa-angles-right {
    font-size: 4rem;
}

.fa-angles-left:hover,
.fa-angles-right:hover {
    cursor: pointer;
    color: red;
}

/* modal part */
#modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #494848f1;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    height: auto;
    border-color: white;
    border-radius: 15px;
    font-size: 1.7rem;
    word-break: break-word;
}

.fa-xmark {
    color: #aaa;
    float: right;
    cursor: pointer;

    padding: 0 10px 0 0;
    font-weight: bold;
}

#modal-image {
    height: 25rem;
    float: left;
    margin-right: 5px;
    border-radius: 15px;
}

#modal-title {
    color: black;
}

.modal-content__body {
    margin-top: 10px;
}

.modal-content__body-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-play {
    font-size: 4rem;
    color: black;
}

.fa-circle-play:hover {
    cursor: pointer;
    color: red;
}

.spacer {
    margin: 0 5px 0 5px;
}


.modal-content__body--style {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.375rem 0;
}

.modal-light {
    font-weight: bold;
    color: black;
    margin-right: 5px;
}

/* to correct the selection at the end of the carousel with transparent color */
img::selection {
    background: rgba(38, 119, 201, 0);
}

/* Modifier used by java script to (not)hide elements of carousel (fa-angles-right, fa-angles-left) */
.visibility-hidden {
    visibility: hidden;
}

/* Modifier used by java script to (not)display blocks */
.display-none {
    display: none;
}


/* ----------------------- */
/* Responsive part: tablet */
/* ----------------------- */

@media screen and (max-width: 991px) {
    html {
        font-size: 50%;
    }

    .modal-content {
        margin: 30% auto;
        width: 70%;
    }
}

/* ----------------------- */
/* Responsive part: Mobile */
/* ----------------------- */

@media screen and (max-width: 767px) {
    html {
        font-size: 42%;
    }

    .modal-content {
        margin: 35% auto;
        width: 100%;
    }
}